{
  "presets": ["next/babel"],
  "plugins": [
    "macros",
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}